@use '../../global/' as *;

.hero {
	background: $bg-gradient-blue;
	color: $white;
	padding: 55px 0;

	&-content {
		text-align: center;
	}

	&-content-img {
		display: none;
	}

	h1,
	a {
		color: inherit;
	}

	h1 {
		font-size: 3.5rem;
		margin-bottom: 30px;
	}

	p {
		font-size: 1.7rem;
		line-height: 1.4;
		margin-bottom: 30px;
	}

	a {
		border: 1px solid $white;
	}
}

@include breakpoint(md) {
	.hero {
		padding: 90px 0;
		position: relative;

		&-content {
			justify-content: space-between;
			text-align: left;
		}

		&-content-left {
			max-width: 585px;
			padding-right: 15px;	
			position: relative;
			z-index: 2;
		}

		&-content-right {
			align-self: center;
			flex-shrink: 0;
			width: 40%;
		}

		&-content-img {
			display: block;
			position: absolute;
			right: 15px;
			top: 60%;
			transform: translateY(-50%);
			width: 45%;
			z-index: 1;
		}

		h1 {
			animation: flipIn 600ms ease-in-out;
			font-size: 5.5rem;
			transform-origin: 50% 50%;
		}

		p {
			font-size: 2rem;
		}

		@keyframes flipIn {
			0% {
				transform: perspective(600px) translate3d(0,-46px,-32px) rotateX(80deg);
			}

			100% {
				transform: perspective(600px) translate3d(0,0,0) rotateX(0);
			}
		}
	}
}

@include breakpoint(lg) {
	.hero {
		padding: 110px 0;

		h1 {
			font-size: 9rem;
		}
    
		p {
			font-size: 2.2rem;
		}

		a {
			font-size: 1.6rem;
		}
	}
}