/* Colors */
$primary: #008AEE;
$gray: #666;
$light-gray: #ddd;
$white: #fff;
$black: #000;
$bg-gradient-blue: linear-gradient(120deg, #008aee, #008aee, #279bf1, #20b0f4, #18cef8);

/* Transition */
$main-transition: 400ms ease;

/* Fonts */
$body-font: 'Raleway', sans-serif;
$title-font: 'Alfa Slab One', cursive;

/* Container width */
$container-width: 1170px;